@media(max-width:1285px) {
    .infoFloor {
        font-size: 13px;
    }
}

@media(max-width:1150px) {
    .infoFloor {
        font-size: 12px;
    }
}

@media(max-width:1000px) {
    .infoFloor {
        font-size: 11px;
    }
}

@media (max-height: 1050px) {
    .infoFloor {
        font-size: 14px;
    }
}

@media (max-height: 950px ) {
    .infoFloor {
        font-size: 13px;
    }
}

@media (max-height: 860px) {
    .infoFloor {
        font-size: 11px;
    }
}

@media (max-height: 770px) {
    .infoFloor {
        font-size: 10px;
    }
}

.dateParaWeatherContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    margin-top: 1vh;
}

.dateParaWeatherContainer>div {
    display: flex;
}

.parentWeekNamingExtension {
    margin: 0 2%;
}

.parentWeekNamingExtension {
    padding-top: 0;
    margin-top: 0;
}

.tableSheduleOfFlloor {
    z-index: 1;
    position: relative;
    color: #FFFFFF;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3vh;
    font-size: 200%
}

.floorTableRow {
    margin: 1vh 0;
}

.stripeInRow {
    width: 10%;
    height: 60%;
    background-color: #FFFFFF;
}

.cabinetColumn {
    width: 9%;
}

.groupColumn {
    width: 10%;
}

.deciplineColumn {
    width: 60%;
}

.teacherColumn {
    width: 20%;
}

.flexContainerCenterText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexContainerCenterText > div{
    cursor:pointer;
}

.cabinetRowColumn {
    font-size: 150%;
}

.groupRowColumn {
    font-size: 150%;
}

.deciplineRowColumn {
    font-size: 100%;
}

.teacherRowColumn {
    font-size: 100%;
}